@(message: String)

@main() {

    <div class="well">
        <h1>@message</h1>
    </div>
}

@if(flash().containsKey("message")) {
	<section>
		<h4 style="color: rgb(124, 178, 50);" id="message">@flash.get("message")</h4>
	</section>

}

