@(loginForm: Form[User])

@import helper._

@main() {

	@form(action = routes.Application.login()) {
		<h3>login</h3>
		@inputText(loginForm("email"))
		@inputText(loginForm("password"))
		
		
		<button type="submit">login</button>
		
		
	}
	
	@form(action = routes.Application.register()) {
		<button type="submit">registrieren</button>
	}

}