@(registForm: Form[User])

@import helper._

@main() {

	@form(action = routes.Application.) {
		<h3>registrieren</h3>
		@inputText(registForm("Vorname"))
		@inputText(registForm("Name"))
		@inputText(registForm("email"))
		@inputText(registForm("password"))
		
		
		<button type="submit">registrieren</button>
	}

}